@import url('https://fonts.googleapis.com/css2?family=Carme&family=Catamaran&family=Fira+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    }

#menu, h1 {
    font-family: 'Catamaran', sans-serif;
}

h2, h3 {
    font-family: 'Fira Sans', sans-serif;
}

a, p, li, input, label {
    font-family: 'Carme', sans-serif;
}

h3, h2, p {
    margin-bottom: 10px;
    margin-top: 15px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1400px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    
    width: 100%;
}

#logo {
    font-size: 220%;
}

#menu {
    font-size: 130%;
    background: #FF7A59;
    
    height: 300px;
    width: 300px;
    
    display: flex;
    flex-direction: column;
}

#menu a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    flex-grow: 1;
    overflow: hidden;
}

#menu div {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    padding-left: 25px;
}

#menu div:hover {
    background-color: #B34E36;
    color: whitesmoke;
}

.nav_selected {
    background-color: #B34E36;
    color: whitesmoke;
}

#hero {
    display: flex;
    height: 300px;
    flex-basis: 900px;
    overflow: hidden;
    flex-grow: 1;
}

#hero img {
    width: 100%;
    object-fit: cover;
    flex-grow: 1;
    flex-basis: 100%;
}

.section_container {
    display: flex;
    justify-content: center;
}

.instruction_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}

.instruction_itself {
    padding: 0px;
    flex-grow: 1;
    margin: 25px;
    text-align: justify;
}

.instruction_image {
    height: 300px;
    width: 450px;
    flex-shrink: 0;
    margin: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.instruction_image img {
    height: 300px;
}

.needs_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}

.needs_itself {
    border: 1px solid black;
    padding: 40px 60px;
    flex-grow: 1;
    margin: 25px;
}

li {
    list-style-type: none;
}

.gallery_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
}

.gallery_image {
    height: 200px;
    width: 300px;
    flex-shrink: 0;
    margin: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery_image img{
    height: 200px;
}


.form_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}

form input{
    border: 1px solid black;
    width: 250px;
}

@media screen and (max-width: 1000px) {
    header {
        flex-direction: column;
        height: 300px;
        flex-wrap: wrap;
    }
    #menu {
        position: fixed;
        top: 0%;
        right: 0%;
        left: 0%;
        width: 100%;
        flex-direction: row;
        height: 50px;
        z-index: 3;
    }
    #logo {
        font-size: 100%;
    }
    #menu a {
        flex-grow: 1;
    }
    #menu div {
        padding-left: 0%;
        justify-content: center;
    }
    #hero {
        height: 100px;
    }
    #hero img {
        position: absolute;

        height: 250px;
        left: 0%;
        right: 0%;
        top: 49px;
    }
    .instruction_container {
        flex-wrap: wrap;
        width: 90%;
    }
    .gallery_container {
        width: 90%;
    }

}

@media screen and (max-width: 700px) {
    header {
        flex-direction: collumn;
        height: 300px;
        flex-wrap: nowrap;
    }
    #menu {
        position: fixed;
        top: 43px;
        height: fit-content;
        width: 100%;
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    #menu a {
        text-align: center;
        flex: 0 0 50%;
        max-width: 50%;
        box-sizing: border-box;
    }
    #menu div {
        padding: 5px 0px;
        flex-grow: 1;
        height: fit-content;
    }
    #logo {
        min-width: 100%;
        font-size: 150%;
        color: black;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        background: #FF7A59;
    }
    #hero img {
        position: absolute;
        top: 67px;
    }
    .needs_container {
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    #menu {
        font-size: 90%;
        top: 39px;
    }
}

