body {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 1200px;
}

#logo {
    font-size: 220%;
}

#menu {
    font-size: 130%;
    background: #FF7A59;
    
    height: 210px;
    flex-basis: 300px;
    
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu div {
    border: 1px solid black;
    padding: 7px;
}

#menu div:hover {
    background-color: #B34E36;
    color: #FF7A59;
}

.nav_selected {
    background-color: #B34E36;
    color: #FF7A59;
}

#hero {
    height: 211px;
    flex-basis: 900px;
    overflow: hidden;
    flex-grow: 0;
}

#hero img {
    width: 100%;
    object-fit: cover;
}